/* Master Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
body {
    margin: 2em;
}
body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
}

.fab {
  width: 56px;
  height: 56px;
  background: #6b6b6b;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 25px;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}

.fab.active {
  background: #F44336;
}

.fab__ripple {
  position: absolute;
  left: -17px;
  bottom: -12px;
  width: 56px;
  height: 56px;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  background: #fff;
  border-radius: 50%;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0, 0, 0.3, 1) 0ms;
  transition: -webkit-transform 0.35s cubic-bezier(0, 0, 0.3, 1) 0ms;
  transition: transform 0.35s cubic-bezier(0, 0, 0.3, 1) 0ms;
  transition: transform 0.35s cubic-bezier(0, 0, 0.3, 1) 0ms, -webkit-transform 0.35s cubic-bezier(0, 0, 0.3, 1) 0ms;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transform;
  z-index: 2;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fab:active .fab__ripple {
  opacity: 0.2;
  -webkit-transform: scale(1) translate(31%, -22%);
          transform: scale(1) translate(31%, -22%);
}

.fab__image {
  overflow: hidden;
  z-index: 3;
}

.toast__container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  pointer-events: none;
}

.toast__msg {
  width: 250px;
  min-height: 50px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 10px;
  word-break: break-all;
  -webkit-transition: opacity 3s cubic-bezier(0, 0, 0.30, 1) 0;
  -webkit-transition: opacity 0.30s cubic-bezier(0, 0, 0.30, 1) 0;
  transition: opacity 0.30s cubic-bezier(0, 0, 0.30, 1) 0;
  text-transform: initial;
  margin-bottom: 10px;
  border-radius: 2px;
}

.toast__msg--hide {
  opacity: 0;
}
/*
 * See https://github.com/angular/angular.io/blob/master/public/docs/_examples/styles.css
 * for the full set of master styles used by the documentation samples
 */
