<div class="container">
        <div class="col-md-4">
            <form class="form-horizontal"  id="myform" (submit)="addquestion($event, dethi.value, name.value, A.value, B.value, C.value, D.value, key.value)">

                    <div class="form-group">
                       <label for="course">Câu hỏi thuộc đề thi:</label>
                       <select #dethi type="text" class="form-control" id="course" name="course" placeholder="Course">
                           <option *ngFor="let quiz of quizs | async" [ngValue]="quiz.name" >{{quiz.name}}</option>
                       </select>                      
                    </div>
                    
                    <div class="form-group">
                         <label for="csetitle">Nội dung câu hỏi</label>
                         <textarea #name type="text" class="form-control" id="question" name="question" placeholder="Điền nội dung câu hỏi tại đây" cols="40" rows="5" style="resize:vertical;" required></textarea>
                    </div>
                    

                    <div class="form-group">
                       <label for="title">Lựa chọn A:</label>
                       <input #A type="text" class="form-control" id="question" name="question" placeholder="" cols="40" rows="5" style="resize:vertical;" required>
                    </div>

                    <div class="form-group">
                       <label for="title">Lựa chọn B:</label>
                       <input #B type="text" class="form-control" id="question" name="question" placeholder="" cols="40" rows="5" style="resize:vertical;" required>
                    </div>

                    <div class="form-group">
                       <label for="title">Lựa chọn C:</label>
                       <input #C type="text" class="form-control" id="question" name="question" placeholder="" cols="40" rows="5" style="resize:vertical;" required>
                    </div>

                    <div class="form-group">
                       <label for="title">Lựa chọn D:</label>
                       <input #D type="text" class="form-control" id="question" name="question" placeholder="" cols="40" rows="5" style="resize:vertical;" required>
                    </div>

                    <div class="form-group">
                       <label for="title">Đáp án đúng:</label>
                       <input #key type="text" class="form-control" id="question" name="question" placeholder="" cols="40" rows="5" style="resize:vertical;" required>
                    </div>

                    <div class="form-group">
                        <button id="add-more" name="add-more" class="btn btn-primary" type="submit">Thêm câu hỏi</button>
                    </div>
            </form>
            <!--<div >
            <p style="text-align:center;">By <a href="http://bootsnipp.com/tarun90">Tarun Mahajan</a></p>
            </div>-->
        </div>
    </div>