<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="post">
                <div class="post-img-content">
                    <img src="http://placehold.it/460x250/e67e22/ffffff&text=HTML5" class="img-responsive" />
                    <span class="post-title"><b>Quy trình thi THPT quốc gia và xét ĐH 2017</b><br />
                        <b></b></span>
                </div>
                <div class="content">
                    <div class="author">
                        By <b>Bhaumik</b> |
                        <time datetime="2014-01-20">January 20th, 2014</time>
                    </div>
                    <div>
                       Năm 2017 Bộ giáo dục có điều chỉnh mới cho thi thpt quốc gia và xét Đại học cao đẳng năm 2017 như khi làm hồ sơ thi THPT quốc gia phải chọn luôn nguyện vọng, thay đổi hình thức thi cũng như xét tuyển các nguyên vọng. 6 Bước đơn giản là hiểu toàn bộ quy trình:
                    </div>
                    <div>
                        <a href="http://www.jquery2dotnet.com/2014/01/jquery-highlight-table-row-and-column.html" class="btn btn-warning btn-sm">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="post">
                <div class="post-img-content">
                    <img src="http://placehold.it/460x250/2980b9/ffffff&text=CSS3" class="img-responsive" />
                    <span class="post-title"><b>Danh sách các trường Đại học công bố phương án tuyển sinh 2017</b><br />
                        <b></b></span>
                </div>
                <div class="content">
                    <div class="author">
                        By <b>Bhaumik</b> |
                        <time datetime="2014-01-20">January 20th, 2014</time>
                    </div>
                    <div>
                        Tổng hợp danh sách các trường Đại học, Học viện, Cao đẳng trên cả nước công bố phương án tuyển sinh năm 2017 cập nhật nhanh nhất, mới nhất.
                    </div>
                    <div>
                        <a href="http://www.jquery2dotnet.com/2013/11/share-social-media-round-buttons.html" class="btn btn-primary btn-sm">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="post">
                <div class="post-img-content">
                    <img src="http://placehold.it/460x250/47A447/ffffff&text=jQuery" class="img-responsive" />
                    <span class="post-title"><b>Danh sách cụm thi và mã cụm thi THPT QG 2017 - Chính thức</b><br />
                        <b></b></span>
                </div>
                <div class="content">
                    <div class="author">
                        By <b>Bhaumik</b> |
                        <time datetime="2014-01-20">January 20th, 2014</time>
                    </div>
                    <div>
                        Bộ GD vừa công bố danh sách các cụm thi, theo đó mỗi cụm thi được quy định 1 hội đồng thi (mã cụm thi) riêng. Mã cụm thi học sinh cần lưu lại để khi làm hồ sơ.
                    </div>
                    <div>
                        <a href="http://www.jquery2dotnet.com/2013/07/cool-social-sharing-button-using-css3.html" class="btn btn-success btn-sm">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div #scrollMe class="bs-example" id="messages">
        <div *ngFor="let message of messages | async">
          <div class="bubble" [class.you]="isYou(message.email)" [class.me]="isMe(message.email)">
            <p>{{ message.message }}</p>
            <div class="author">
              {{ message.displayName }} | {{ message.timestamp | date:"MM/dd/yy hh:mm a" }}
            </div>
          </div>
        </div>

      </div>

      <figure class="highlight">
        <input type="textarea" class="message-text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
        <a  class="send-message">SEND</a>
      </figure>
    </div>
  </div>
</div>-->
